/*
this is entirely going to be a color scheme. that way we can do cute seasonal colors uwu
*/
html,#my-name a:link,#my-name a:hover,#my-name a:focus,#my-name a:visited:hover,#my-name a:visited:focus,#my-name a:visited  {
  color: #352f2e;
  background-color: #f7f2cf;
}

::-moz-selection,::selection {
  background-color: #5e2236;
  color: #f7f2cf;
}

a:link,a:visited {
  color: #600716;
}

a:hover,a:focus,a:visited:hover,a:visited:focus {
  color: #f7f2cf;
  background-color: #600716;
}
