/*
this is entirely going to be a color scheme. that way we can do cute seasonal colors uwu
*/
html,#my-name a:link,#my-name a:hover,#my-name a:focus,#my-name a:visited:hover,#my-name a:visited:focus,#my-name a:visited  {
  color: #590053;
  background-color: #bdf9fc;
}

::-moz-selection,::selection {
  background-color: #084901;
  color: #bdf9fc;
}

a:link,a:visited {
  color: #1c5900;
}

a:hover,a:focus,a:visited:hover,a:visited:focus {
  color: #bdf9fc;
  background-color: #1c5900;
}
