/*
this is entirely going to be a color scheme. that way we can do cute seasonal colors uwu
*/
html,#my-name a:link,#my-name a:hover,#my-name a:focus,#my-name a:visited:hover,#my-name a:visited:focus,#my-name a:visited  {
  color: #052f33;
  background-color: #d1f7cf;
}

::-moz-selection,::selection {
  background-color: #004949;
  color: #d1f7cf;
}

a:link,a:visited {
  color: #730277;
}

a:hover,a:focus,a:visited:hover,a:visited:focus {
  color: #d1f7cf;
  background-color: #730277;
}
