/*
this is entirely going to be a color scheme. that way we can do cute seasonal colors uwu
*/
html,#my-name a:link,#my-name a:hover,#my-name a:focus,#my-name a:visited:hover,#my-name a:visited:focus,#my-name a:visited  {
  color: #0c3f08;
  background-color: #fcf8b3;
}

::-moz-selection,::selection {
  background-color: #930d72;
  color: #fcf8b3;
}

a:link,a:visited {
  color: #023275;
}

a:hover,a:focus,a:visited:hover,a:visited:focus {
  color: #fcf8b3;
  background-color: #023275;
}
