/*
this is entirely going to be a color scheme. that way we can do cute seasonal colors uwu
*/
html,#my-name a:link,#my-name a:hover,#my-name a:focus,#my-name a:visited:hover,#my-name a:visited:focus,#my-name a:visited  {
  color: #103038;
  background-color: #ededed;
}

::-moz-selection,::selection {
  background-color: #323335;
  color: #ededed;
}

a:link,a:visited {
  color: #0a3775;
}

a:hover,a:focus,a:visited:hover,a:visited:focus {
  color: #ededed;
  background-color: #0a3775;
}
